.container {
  width: auto;
  height: 90vh;
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Fjalla One';
}

.container .innercontainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 10px;
  width: 100%;
  align-items: center;
}

.container .innercontainer .uploadsection {
  padding: 12px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0px 0px 4px;
  min-width: 28%;
}

.title {
  font-family: 'Roboto';
  margin: 15px;
}

.line-1 {
  margin-top: 10px;
}

.team-size-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, button {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 2px solid rgb(208, 202, 247);
}

label, .tags {
  font-size: 18px;
  color: #333;
}

.button {
  padding: 10px 20px;
  background-color: rgb(143, 129, 232);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: rgb(208, 202, 247);
}
.outputsection {
  width: 100%;
  margin: 18px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.outputsection .Tables{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
  width: 90%;
  /* border-bottom: 2px solid seagreen; */
  padding: 16px;
  box-shadow: 0px 0px 4px;
}

/* New CSS for the tables */
table {
  width: 20%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px 12px;
  text-align: center;
}

th {
  background-color: rgb(208, 202, 247);
}

td {
  background-color: #f9f9f9;
}

td:hover {
  background-color: #f1f1f1;
}

.tags {
  font-size: 24px;
  margin: 15px;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 768px) {
  .outputsection {
    padding: 10px;
    font-size: 12px; /* Reduce font size for small screens */
  }
}

@media (max-width: 450px) {
  .container .innercontainer .uploadsection{
    width: 90%;
  }

  input, .button{
    border: 1px solid #333;
  }

  .outputsection {
    padding: 5px;
    font-size: 10px; /* Further reduce font size for smaller screens */
  }

  .outputsection .Tables{
    width: 100%;
  }
  .outputsection .Tables table{
    width: 40%;
  }
}

@media (min-height:809px){
  .container{
    height: 93.5vh;
  }
}

.desktop-layout {
  width: 1536px;
  font-size: 16px;
  line-height: 1.5;
  padding: 20px;
  margin: 0 auto;
  background-color: white;
}

.desktop-layout .Tables {
  page-break-inside: avoid; /* Prevent tables from breaking across pages */
}



