<div class="container">
    <div class="btns">
        <p class="tag">YEAR</p>
        <button value="2021" (click)="YearChange($event)">2021</button>
        <button value="2022" (click)="YearChange($event)">2022</button>
        <button value="2023" (click)="YearChange($event)">2023</button>
        <button value="2024" (click)="YearChange($event)">2024</button>
    </div>
    <div class="imagecontainer">
        <p>{{year}}</p>
        <div class="images">
            <img *ngFor="let i of imgLists; let ind=index" [src]="i" [alt]="'img-'+ind"/>
        </div>
    </div>
</div>