.container {
    width: 100vw;
    height: 91vh;
    padding: 3px;
    display: flex;
    flex-direction: column;
    /* border: 2px solid rebeccapurple; */
}

.container .btns {
    display: flex;
    gap: 22px;
    font-family: "Fjalla One", sans-serif;
}

.container .btns .tag {
    border: none;
    outline: none;
    padding: 8px;
}

.container .btns button {
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 8px;
    background-color: rgb(143, 129, 232);
    font-weight: bold;
    cursor: pointer;
}

.container .btns button:hover {
    background-color: rgb(208, 202, 247);
}

.imagecontainer {
    height: auto;
    margin: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Fjalla One", sans-serif;
    font-size: 32px;
}

.imagecontainer .images {
    font-size: 12px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    animation: appear 1s ease-in-out; 
}

.imagecontainer .images img {
    width: 350px;
    height: 250px;
    padding: 8px;
}

.each-img {
    animation: appear 1s ease-in-out; /* Corrected animation name */
    animation-timeline:view();
    animation-range:entry 0;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 450px) {
    .container {
        padding: 12px 5px;
        height: auto;
        background-color: rgb(208, 202, 247);
    }

    .imagecontainer .images {
        height: auto;
    }

    .container .btns button,
    .container .btns .tag {
        font-size: 16px;
    }

    .container .btns button {
        border: 2px solid #ccc;
    }

    .container .btns .tag {
        padding-right: 0px;
        font-size: 20px;
    }

    .imagecontainer .images img {
        width: 100%;
    }
}

@media (min-height: 809px) {
    .container {
        height: auto;
    }

    .container .btns button,
    .container .btns .tag {
        font-size: 16px;
    }

    .container .btns button {
        border: 2px solid #ccc;
    }

    .container .btns .tag {
        padding-right: 0px;
        font-size: 20px;
    }

    .imagecontainer .images img {
        width: 100%;
    }
}

@media (max-width: 350px) {
    .container {
        padding: 15px;
        height: auto;
        width: 110vw;
        border: 2px solid;
    }

    .imagecontainer .images {
        height: auto;
    }
}
