
.navbar {
    display: flex;
    padding: 6px 8px;
    font-size: 17px;
    font-family: "Roboto Mono", serif;
    font-weight: 500;
    font-style: normal;
}

.inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#left {
    display: flex;
    padding: 8px;
    width: 80%;
}

#right {
    display: flex;
    padding: 8px;
    width: 20%;
    justify-content: flex-end;
}

.navbar a {
    text-decoration: none;
    position: relative;
    display: inline-block;
    color: inherit;
    padding: 6px;
}

.navbar a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: linear-gradient(to right, #c084fc, #db2777);
    transition: width 0.4s ease-in-out;
}

.navbar a:hover::after {
    width: 100%;
}




select {
    border: none;
    outline: none;
    font-size: 17px;
    font-family: "Roboto Mono", serif;
    font-weight: 500;
    background-color: inherit;
    width: 110px;
    height: auto;
}

option {
    text-align: center;
    border: none;
    outline: none;
}

#naviconul {
    display: none;
}

#naviconul #navicon {
    display: none;
    text-decoration: none;
}

@media (max-width: 450px) {
    .navbar {
        font-size: 14px;
        padding: 7px 8px;
    }

    #naviconul {
        display: block;
        height: 30px;
    }

    #naviconul li #navicon {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 25px;
    }

    .navbar #left,
    .navbar #right {
        display: none;
    }

    .navbar #left a,
    .navbar #right a {
        width: 90px;
    }

    .inner {
        flex-direction: column;
        max-height: 400px;
        margin-top: 40px;
    }

    .navbar .open #left,
    .navbar .open #right {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 16px;
        font-weight: 700;
    }


    /* option {
        background-color: rgb(143, 129, 232);
    } */
}