<div class="navbar">
    <ul id="naviconul">
        <li><fa-icon id="navicon" (click)="openNav()" [icon]="faNav"></fa-icon></li>
    </ul>
    <div class="inner" #navrouter [ngClass]="{'open': isOpened}">
        <nav id="left">
            <a routerLink="/home">Home</a>
            <select name="schedule" id="schedule" (change)="onSelection($event)" [ngStyle]="{ 'width': selectedOption === 'team' ? '170px' : '100px' }">
                <option value="">Schedule</option>
                <option value="team">Teams Generation</option>
                <option value="fixtures">Fixtures</option>
            </select>
            <a routerLink="/gallery">Gallery</a>
        </nav>

        <!-- <nav id="right">
            <a routerLink="#">Login</a>
            <a routerLink="#">Register</a>
        </nav> -->
    </div>
</div>