.container {
    width: auto;
    height: 91vh;
    padding: 3px;
    display: flex;
    flex-direction: column;
    /* border: 2px solid rebeccapurple; */
}

.container .innercontainer {
    padding: 0px 10px 20px 10px;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Fjalla One", sans-serif;
    font-weight: bolder;
    font-style: normal;
}

.container .innercontainer .title {
    font-size: 85px;
    font-family: "Limelight", serif;
    font-weight: 700;
    text-align: center;
    background: linear-gradient(to right, #c084fc, #db2777);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent
}

.container .innercontainer .line-1 {
    font-size: 32px;
    width: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 40px;
}

.container .innercontainer #login-btn {
    background-color: whitesmoke;
    border-radius: 50%;
    font-size: 28px;
    border: none;
    padding: 5px 10px;
    margin: 8px;
    cursor: pointer;
}

@media (max-width:450px){
    .container{
        padding: 0;
        height: 93.25vh;
    }
    .container .innercontainer .title{
        font-size: 60px;
    }

}
@media(min-height:809px){
    .container{
        padding: 0;
        height: 93.25vh;
    }

}

@media (max-width:300px){
    .container .innercontainer .title{
        font-size: 50px;
    }

    .container .innercontainer .line-1{
        font-size: 24px;
    }

}


